<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEFAD | Especialista </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/mainEsp.css">
    <script defer src="js/mainEsp.js"></script>

</head>

<body>

    <!-- Section heading  -->
    <header>
        <div class="header-logo">
        
                <img src="images/sefad.jpg" alt="Logo SEFAD">
      
       
        </div>

    </header>
    
    <div id="contenedor_fecha_hora" class="contenedor_fecha_hora">
        <% if(usuario){ %>
           
            <p id="codigo"><%=usuario.codigo%></p>
            <p id="correo"><%=usuario.correo%></p>
            <p id="nombre"><%=usuario.nombre%></p>
            
            <% }%>
        <p id="fecha_hora"></p>
        <a id="cambio_clave" onclick="cambio_clave()" href="#">Cambiar Contraseña</a>
        <a href="/">Cerrar Sesion</a>

    </div>   
    <div id="botones">
        <button id="boton1" class="btn btn-primary w-80">Estudiantes Aparecidos</button>
        <button id="boton2" class="btn btn-success w-80">Seguimientos Asignados</button>
        <button id="boton3" class="btn btn-primary w-80">Seguimientos Activos</button>
        <button id="boton4" class="btn btn-danger w-80">Seguimientos Finalizados</button>
    </div>
        <!--mt-5-->
        <div class="table-responsive">
            <table id = "tabla" class="table table-hover">
                <thead>

                </thead>
                <tbody id="contenido">

                </tbody>
            </table>
        </div>

    
    <a href="#" id="boton-reportar" class="btn-flotante"> Citas </a>
</body>

</html>